@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar if needed */
body {
  @apply bg-gray-900 text-white overflow-hidden;
  user-select: none;
}

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}